<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/id-card.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Sacramento&display=swap" rel="stylesheet">
    <title>Obada</title>
</head>
<body>
    <div id="card">
        <div class="circle">
            <img src="../static/images/hacker.png" id="self" class="images">
        </div>
        <div id="name">Obada</div>
        <div id="job">Backend engineer</div>
        <div id="contacts">
            <a href="https://github.com/Townsend0" target="_blank"><img src="../static/images/github(1).png"></a>
            <a href="https://www.instagram.com/iajxm/" target="_blank"><img src="../static/images/instagram.png"></a>
            <a href="https://www.linkedin.com/in/obada-albalkhi-a6579b259/" target="_blank"><img src="../static/images/linkedin.png"></a>
        </div>
    </div>
</body>
</html>